<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vulnerable Web Application{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/water.css"
        integrity="sha384-eHoWBq4xGyEfS3rmZe6gvzlNS/nNJhiPPbKCJN1cQHJukU+q6ji3My2fJGYd1EBo" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <span style="float: right;">
                {% if user.is_authenticated %}
                    {% include "registration/_logout-form.html" %}
                {% else %}
                    <a href="{% url 'accounts:login' %}">Sign in</a>
                    <a href="{% url 'accounts:register' %}">Sign up</a>
                {% endif %}
            </span>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
